html,
body {
	font-family: Verdana, sans-serif;
	color: hsl(33deg 10% 81%);
	background-color: hsl(197deg 6% 13%);
	height: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: white;
}

a {
	color: #3273dc;
}

img {
	max-width: 100%;
	height: auto;
}

@media (prefers-color-scheme: light) {

	html,
	body {
		color: #444;
		background-color: f0f2f5;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	strong,
	b {
		color: #222;
	}
}