---
import { getCollection, CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Terminal from "../components/Terminal/Terminal";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  post: CollectionEntry<"blog">;
}

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Terminal posts={posts} switchPaw={}/>
      <a href="/blog">Blogs</a>
    </main>
  </body>
</html>
